#e {
  h4 {
    font-size: 26px;
  }

  .desc {
    margin: 10px 0 40px 0;
  }
}

#lists {
  margin-bottom: 80px;
  font-size: 14px;
  line-height: 20px;

  >.list {
    background-color: #fafafa;
    border-radius: 4px;
    border: 1px solid #eee;
    width: 400px;
    display: inline-block;
    padding: 10px 0;
    margin: 10px;

    &.most {
      margin-right: 20px;
    }
    &.less {
      margin-left: 20px;
    }

    >.title {
      font-weight: bold;
      width: 320px;
      margin: 0 auto 5px auto;
      padding-bottom: 5px;
      border-bottom: 1px solid #999;
    }

    >ol {
      margin: 0 auto;
      padding: 0;
      width: 320px;

      >li {
        list-style-type: none;
        color: #999;
        padding: 5px 0;
        cursor: pointer;

        &:hover {
          color: #333;
        }

        >.num {
          float: right;
        }
      }
    }
  }

}

.searchgrp {
  position: absolute;
  right: 0;
  display: table;
  border-collapse: separate;
  width: 234px;

  >.text {
    -webkit-appearance: textfield;
    display: table-cell;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    float: left;
    width: 100%;
    margin-bottom: 0;

    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }

    &::-webkit-input-placeholder {
      color: #ccc;
    }
    &::-moz-input-placeholder {
      color: #ccc;
    }
    &:-ms-input-placeholder {
       color: #ccc;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    &.error {
      color: #a55;
      background-color: #fee;
    }
  }

  >.icon {
    padding: 6px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
    display: table-cell;
    background: #eee url("icon-search.svg") no-repeat 50% 50%;
    background-size: 20px 20px;
    width: 34px;
    vertical-align: middle;
  }
}

#zips {
  text-align: right;
  position: relative;
  height: 34px;

  >ol {
    >.nib {
      >div {
        background-color: #fff;
        border: 1px solid #999;
        width: 12px;
        height: 12px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        margin: 13px auto 0 auto;
      }

      position: absolute;
      left: 0;
      right: 0;
      top: -20px;
      height: 20px;
      overflow: hidden;
    }

    position: absolute;
    width: 220px;
    background-color: #fff;
    border: 1px solid #999;
    right: 0px;
    opacity: 0.95;
    text-align: left;
    // we need to push this guy to the bottom of the zips element
    // which has not content eating children.
    margin: 34px+10px 0 0 0;
    padding: 20px 0;
    border-radius: 4px;

    >li {
      list-style-type: none;
      font-size: 12px;
      padding: 0 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;

      &.sel, &:hover {
        background-color: #f6f6f6;
      }

      >.zip {
        color: #666;
        font-weight: bold;
        display: inline-block;
        width: 42px;
      }
      >.city {
        color: #999;
      }
    }
  }
}

#call {
  font-size: 12px;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  width: 240px;
  pointer-events: none;
  border: 1px solid #999;
  border-radius: 4px;
  display: none;
  white-space: nowrap;

  >.nib {
    >div {
      background-color: #fff;
      border: 1px solid #999;
      width: 12px;
      height: 12px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      margin: -8px auto;
    }

    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 20px;
    overflow: hidden;
  }

  >.graf {
    height: 50px;
    position: relative;
    >.mnbg {
      position: absolute;
      top: 0;
      height: 50px;
      width: 20px - 2*3px;
      margin: 0 3px;
      background-color: #f6f6f6;
    }
    >.mnfg {
      position: absolute;
      bottom: 0;
      width: 20px - 2*3px;
      margin: 0 3px;
      background-color: #09f;
      -webkit-transition: height 200ms ease-in-out;
      -moz-transition: height 200ms ease-in-out;
      -ms-transition: height 200ms ease-in-out;
      -o-transition: height 200ms ease-in-out;
      transition: height 200ms ease-in-out;
    }
  }

  >.labs {
    height: 15px;
    position: relative;
    margin-top: 5px;
    >.mnlb {
      font-size: 10px;
      color: #999;
      position: absolute;
      top: 0;
      height: 15px;
      line-height: 15px;
      width: 20px - 2*3px;
      margin: 0 3px;
      text-align: center;
    }
  }

  >.text {
    color: #999;
    position: relative;

    span {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}


#root {
  >circle {
    pointer-events: none;
  }

  >.node {
    fill: #09f;
    stroke: none;

    &.sel {
      fill: #444;
      stroke: none;
    }
  }

  &.search {
    >.node {
      fill: #ccc;
      stroke: none;

      &.hi {
        fill: #09f;
      }
    }
  }
}